name: Build ZMK firmware

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout config
        uses: actions/checkout@v4

      - name: Build firmware
        uses: zmkfirmware/zmk-build-action@v2
        with:
          board: nice_nano_v2
          shield: emh_badge
